doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		meta(name="viewport",content="width=device-width initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="IE=11")
		meta(name='description', content='')
		meta(name='author', content='Rafael Marins')

	body
		block content