@media all{
  		.hide{
  			display: none !important;
  		}
	  	body{
	  		/*font-family: 'Raleway', sans-serif;*/
	  		font-family: 'Gill-Sans', Calibri, sans-serif;
	  		/*font-family: 'Arial', sans-serif ;*/
	  		font-size: 30px ;
	    	font-weight: 100 ;
	  	}
	  	.certificate{
	  		position: relative ;
		    background-size: contain ;
		    height: 842px ;
		    width: 595px ;
		    text-align: center ;
		    margin: 0 auto ;
		       display: -webkit-box ;
		    display: -webkit-flex ;
		    display: -ms-flexbox ;
		    display: flex ;
		    -webkit-flex-wrap: wrap ;
		    -ms-flex-wrap: wrap ;
		            flex-wrap: wrap ;
		    -webkit-box-pack: center ;
		    -webkit-justify-content: center ;
		    -ms-flex-pack: center ;
		            justify-content: center ;
		    -webkit-box-align: center ;
		    -webkit-align-items: center ;
		    -ms-flex-align: center ;
		            align-items: center ;
	  	}
	  	.certificate img{
	  		position: absolute ;
	  		width: 100% ;
	  		height: 100% ;
	  		top: 0 ;
	  		left: 0 ;
	  		z-index: 2 ;
	  	}
	  	.certificate div {
		    width: auto !important;
		    margin: 0 !important;
		    padding: 0 !important;
		    max-width: 500px;
		}
		.certificate div.middle {
		    width: 400px !important;
		    margin: 0 auto !important;
		}

		.text{
			z-index: 5 ;
		}
		.text div {
	    	padding: 10px 0 ;
	    	width: 100% ;
		}
		.text .name,.text .course {
		    padding: 10px 0 ;
		}
		.certificate div.name {
		    margin: 10px 0 !important;
		}
		.name span {
		    font-size: 48px;
		}
		.certificate div.bottom {
		    position: absolute;
		    bottom: 100px;
		    z-index: 100 !important;
		    width: 100% !important;
		    left: 47.5px;
		}
		.course, .date{
			font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
		}
		.course{
			font-size: 40px !important;
			position: relative;
			top: 20px;
		}

		.course p {
		    font-size: 30px;
		    margin-top: 0;
		}

		.date{
			font-size: 18px !important;
			position: relative;
			top: 15px;
		}
		.certificate div.bottom div {
		    display: inline !important;
	    	margin: 0 25px !important;
	    	z-index: 100 !important;
		}
		.bottom div a {
			font-size: 19px ;
		}

		.bottom div span {
		    font-size: 20px ;
		}
		.light{
			font-weight: 100;
		}
		.semi-bold{
			font-weight: 500 !important;
		}

		.bold{
			font-weight: 600 !important;
		}

		.monotype{
			font-family: 'Monotype Corsiva',Times, serif;
		}
	}
	@page {
	  size: A4 ;
	  margin: 0 ;
	  width: 21cm !important;
	  height: 29.7cm !important;
	}
	@media print {
		html, body,.certificate {
		  margin: 0 !important;
		  padding: 0 !important;
		  -webkit-print-color-adjust: exact !important;
		  width: 100% !important;
	 	  height: 100% !important;

		}
		.certificate div{
			width: auto !important;
			margin: 0 !important;
			padding: 0 !important;
			max-width: 600px !important;
		}
		.certificate div.middle {
		    width: 400px !important;
		    margin: 0 auto !important;
		}
	 	.certificate div.name {
		    margin: 0 0 !important;
		}
		.text div {
	   		padding: 5px 0 !important;
	   		width: 100% !important;
		}

	  	.certificate div.bottom {
		    position: absolute !important;
		    bottom: 150px !important;
		    z-index: 100 !important;
		    width: 100% !important;
		}
		.course, .date{
			font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
		}
		.course{
			font-size: 40px !important;
			position: relative;
			top: 20px;
		}

		.course p {
		    font-size: 30px;
		    margin-top: 0;
		}

		.date{
			font-size: 18px !important;
			position: relative;
			top: 15px;
		}

		.certificate div.bottom {
		    position: absolute;
		    bottom: 100px !important;
		    z-index: 100 !important;
		    width: 100% !important;
		    left: 0 !important;
		}

		.certificate div.bottom div {
		    display: inline !important;
    		margin: 0 25px !important;
    		z-index: 100 !important;
		}
		.bottom div a {
			font-size: 19px !important;
		}

		.bottom div span {
		    font-size: 20px !important;
		}
		.semi-bold{
			font-weight: 500 !important;
		}

		.bold{
			font-weight: bold !important;
		}
	}