extends templates/layout

block content
    .certificate
      img(src='/images/' + certificate_template, alt='')
      .text
        .top
          span.light This certifies that
        .name
          span.monotype.bold= student_firstname + ' ' + student_lastname
        .middle
          span.light has successfully completed a course of instruction in
        .course
          span.bold= course
          p.bold= units
        .date
          span.bold= 'Date: ' + date
      .bottom
        .intructor
          a.semi-bold Instructor: 
          span.monotype= trainer
        .director
          a.semi-bold Director: 
          span.monotype= director